body {

		background-color: lightblue;


	}

h1 {

		text-align: center;
		font-family:Impact, sans-serif;
		font-size: 40px;
		color:darkred;



	}


	p {

		font-family: Helvetica, sans-serif;
		font-size: 18px;
		line-height: 24px;
		




	}

